*
{
    margin: 0;
    padding: 0;
}
.cal{
    margin: 5px auto;
}
#calculator
{
    border: solid 1px;
    background-color: hsl(76, 73%, 80%);
    width: 350px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

button:hover
{
    background-color: white;
}
button:active
{
    border: thin;
    border-width: thick;
    border-color: hsl(255, 100%, 100%);
    background-color: hsl(255, 50%, 50%);
}
input
{
    width: 90%;
    height: 80px;
    text-align: left;
    padding: 10px;
    border: inset rgb(241, 148, 148);
    margin: 5px;
}
[read-only]
{
    background-color: hsl(88, 71%, 50%);
}
 div button
{
    width: 80px;
    padding: 10px;
    font-size: 2rem;
    border: inset  rgb(243, 157, 157);
    padding: 5px;
    margin: 5px;
    background-color: black;
    color: black;
}
#bt-equal
{
    width: 120px;
}
#bt{
    color: white;
}
#bt:hover{
    color: black;
}
.header{
    text-align: center;
    margin-top: 5px;
    font-size: 3rem;
}