@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center text-secondary">
    <div>&nbsp</div>
    <h2> Welcome to Product Management System</h2>
    <h4> Md. Iquball Hossain</h4>
    </div>
<div class="container">
    <div class="card text-center">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="card my-5">
                    <div class="card-body">
                        <div class="rounded-2 border-1 bg-light text-dark my-3 p-3 lead">
                            Database migration is applied programmatically using <strong>HostedService</strong>. Just change the connection string in
                            the appSetting.json file.
                        </div>
                        <ul class="list-group list-group-flush">
                            <h5> First Insert Company Details and then Insert product Inventory Infromation</h5>
                            <li class="list-group-item">Implemented the Repository and Unit of Work Patterns </li>
                            <li class="list-group-item">Ajax Paging with X.PagedList</li>
                            <li class="list-group-item">Insert/Edit parent with child</li>
                            <li class="list-group-item">User confirmation before delete</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>