@page "/"

<PageTitle>Index</PageTitle>
<h1 class="text-center">Welcome to MIH Job Application Portal</h1>
<h3 class="text-center">Click Application Form button and Create your CV</h3>
<h4 class="text-center">Job Portal Application Managed by Md. Iquball Hossain</h4>