@{
    ViewBag.Title = "Index";
}
<div class="row-cols-lg-1">&nbsp;</div>
<div class="text-center text-secondary">
    <h2> Welcome to Employee Information System</h2>
    <h3> Md. Iquball Hossain (1270381) </h3>
</div>


